body
  padding           0
  font              14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color  black

a
  color             #00B7FF

div.btn
  width             48%
  height            48vh
  border-radius     80%
  background-color  red
  display           inline-block
  cursor            pointer

  &.one
    background-color  #7fff00
  &.two
    background-color  #fa8072
  &.three
    background-color  #8a2be2
  &.four
    background-color  #0000ff